@import url('https://fonts.googleapis.com/css?family=Comfortaa|Righteous');

:root{
  --background-color:;
  --text-shadow: #00897b; 
  /* var(--text-shadow);적용법 */
}

body {
  background-image: url('/images/bg.jpg');
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  background: rgba(52, 114, 62, 0.5);
  color: ghostwhite;
  text-shadow: 1px 1px 1px #00897b;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color: ghostwhite;
  text-decoration: none;
  text-shadow: 1px 1px 1px #00897b;
  font-size: 1.5em;
  
}

a:hover {
  color: #97e8d4;
}

input{
  padding: .3em;
  margin: .5em;
  outline: none;
  border: 1px solid mediumaquamarine;
}

input:focus{
  box-shadow: 2px 2px 2px 2px rgba(5, 142, 124, 0.5);
  transition: 0.3s;
  background-color: #deefeb;
}

input[type=submit] {
  padding: .3em;
  color: ghostwhite;
  background: mediumseagreen;
  font-size: 1em;
  border-radius: 10%;
}

.btn{
  padding: .3em;
  color: ghostwhite;
  background: mediumseagreen;
  font-size: 1em;
  border-radius: 10%;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(175, 213, 180, 0.8);
}

.blogSec{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* text-align: center; */
}

.blogDiv{
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 300px;
  border: solid;
  border-width: 2px;
  border-color:rgb(5, 142, 124);
  background-color: rgba(255, 255, 255, 0.5);
  /* color: #449b8b; */
  color: #e0f2f1;
  text-shadow: 1px 1px 1px #449b8b;
  border-radius: 10%;
  overflow-wrap: break-word;
  overflow:clip;
  /* text-overflow: ellipsis; */
  display: flexbox;
  flex-direction: row;
  column-gap: 10px;
}

.blogDiv:hover {
  color: #97e8d4;
  border-color:#97e8d4;
  box-shadow: 3px 3px 3px 3px rgba(5, 142, 124, 0.5);
  transition: 0.3s;
}

.formBox{
  background-color: rgba(175, 213, 180, 0.5);
  margin: 2em;
  border-radius: 10%;
  display: block;
}

.blogContent{
  align-content: center;
  text-align: center;
  background-color: rgba(175, 213, 180, 0.5);
}

section{
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}